@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes float {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) translateX(1000px) rotate(720deg);
    opacity: 0;
  }
}

.particle {
  position: absolute;
  background: rgba(128, 90, 213, 0.2);
  border-radius: 50%;
  animation: float 15s infinite linear;
}

.particle:nth-child(3n) {
  background: rgba(101, 78, 163, 0.2);
}

.particle:nth-child(3n+1) {
  background: rgba(75, 55, 128, 0.2);
}