@import "tailwindcss";

:root {
  --background: oklch(13% 0.028 261.692);
  --foreground: oklch(96.7% 0.003 264.542);
  --gradient-start: oklch(21% 0.034 264.665);
  --gradient-mid: oklch(13% 0.028 261.692);
  --gradient-end: oklch(21% 0.034 264.665);
  
  --primary-foreground: oklch(71.4% 0.203 305.504);
  --primary-hover: oklch(82.7% 0.119 306.383);
  --primary-border: oklch(43.8% 0.218 303.724);
  --gradient-accent-start: oklch(49.6% 0.265 301.924);
  --gradient-accent-end: oklch(62.7% 0.265 303.9);

  --secondary-foreground: oklch(70.7% 0.022 261.325);
  --muted-foreground: oklch(55.1% 0.027 264.364);
  --card: oklch(27.8% 0.033 256.848);
  --card-hover: oklch(37.3% 0.034 259.733);
  --input: oklch(27.8% 0.033 256.848);
  --input-foreground: #ffffff;
  --input-label: oklch(87.2% 0.01 258.338);

  --border: oklch(27.8% 0.033 256.848);
  --ring: oklch(62.7% 0.265 303.9);
}

@theme inline {
  --color-background: var(--background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gradient-start: var(--gradient-start);
  --color-gradient-mid: var(--gradient-mid);
  --color-gradient-end: var(--gradient-end);
  
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-primary-border: var(--primary-border);
  --color-gradient-accent-start: var(--gradient-accent-start);
  --color-gradient-accent-end: var(--gradient-accent-end);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-input: var(--input);
  --color-input-foreground: var(--input-foreground);
  --color-input-label: var(--input-label);
  
  --color-border: var(--border);
  --color-ring: var(--ring);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes float {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) translateX(1000px) rotate(720deg);
    opacity: 0;
  }
}

.particle {
  position: absolute;
  background: rgba(128, 90, 213, 0.2);
  border-radius: 50%;
  animation: float 15s infinite linear;
}

.particle:nth-child(3n) {
  background: rgba(101, 78, 163, 0.2);
}

.particle:nth-child(3n+1) {
  background: rgba(75, 55, 128, 0.2);
}